@use './media' as *;

.mytheme :global {
    @apply transition-colors;

    button, .button-style, .div-border {
        @apply rounded-md border-2 transition-colors;
    }

    button {
        svg {
            @apply opacity-50;
        }
        &:hover {
            @apply font-bold;
            svg {
                @apply opacity-100;
            }
        }
    }

    hr {
        @apply my-2;
    }

    .date-text {
        @apply text-lg font-bold;
    }

    .theme-switch {
        svg {
            @apply size-7 m-2;
            @include media-query($on-mini) {
                @apply size-5;
            }
        }
    }

    .mini-svg {
        svg {
            @apply size-5 m-2;
            @include media-query($on-mini) {
                @apply size-4;
            }
        }
    }

    input {
        @apply px-2 mx-1 w-full;
    }

    .rule-box {
        @apply w-full h-fit p-1;
    }

    .memo {
        @apply w-full m-0;
    }

    .overlay {
        @apply absolute left-0 top-0 w-dvw h-dvh -z-[1] transition-[z-index];
        // @apply transition-opacity;
        .overlay-shadow, .overlay-shadow-full {
            @apply absolute left-0 top-0 right-0 bottom-0 opacity-0 -z-10 transition-opacity;
        }
        .drawer {
            @apply absolute left-0 top-0 bottom-0 max-w-80 w-10/12 cursor-default;
            @apply -translate-x-full transition-transform duration-500;
        }
    }
    .overlay-active {
        @apply z-50; // cursor-pointer
        .overlay-shadow {
            @apply opacity-80;
        }
        .overlay-shadow-full {
            @apply opacity-100;
        }
        .drawer {
            @apply shadow-lg translate-x-0;
        }
    }
    .overlay-box {
        @apply w-full max-w-3xl h-full p-10 mx-auto;
        @include media-query($on-short) {
            @apply p-3;
        }
    }

    .calendar {
        @apply w-dvw;
        height: calc(100dvh - 10rem);
    }
    .calendar-grid {
        @apply grid grid-cols-7 place-items-center gap-x-5 gap-y-3 mx-6;
        @include media-query($on-mobile) {
            @apply gap-x-3;
        }
        @include media-query-h($on-short) {
            @apply gap-x-2 gap-y-1;
        }
        @include media-query($on-mini) {
            @apply gap-x-1;
        }
    }
    .current-data {
        @apply mt-14 w-fit mx-auto;
    }
    .current-day {
        @apply w-fit mx-auto font-bold h-fit;
        font-size: 1.4rem;
        @include media-query($on-mini) {
            font-size: 1.1rem;
        }
    }
    .current-time {
        @apply absolute top-0 right-0 mt-1 mr-2 w-fit opacity-50;
        @include media-query($on-mobile) {
            @apply text-sm;
        }
    }
    .calendar-day {
        @apply w-fit;
    }
    .calendar-item {
        @apply grid gap-y-1 justify-center h-full relative;
        .calendar-circle {
            @apply text-lg w-full h-full text-center;
            @apply grid justify-center items-center;
            @apply rounded-lg;
            @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
            div {
                @apply w-fit h-fit;
                line-height: 0em;
            }
        }
    }
    .item-detail {
        @apply opacity-50 transition-opacity;
        &:hover {
            @apply opacity-100;
        }
    }
    .current-day,
    .current-time,
    .calendar-day,
    .calendar-item,
    div,
    p,
    span
    {
        @apply select-none text-nowrap;
    }
}