@use 'sass:math';

$on-mini: 480px;
$on-mobile: 768px;
$on-short: 500px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin media-query-opposite($device) {
    @media screen and (min-width: ($device + 1px)) {
        @content;
    }
}

@mixin media-query-h($device) {
    @media screen and (max-height: $device) {
        @content;
    }
}